{% extends 'base.html' %}
{% load static %}

{% block title %}日記削除 | PrivateDiary{% endblock title %}

{% block active_diary_list %}active{% endblock active_diary_list %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <form method="post">
                    {% csrf_token %}
                    <p>本当に削除しますか？。</p>
                    <button class="btn btn-primary mt-5" type="submit">削除</button>
                    <a href="{% url 'tobuyapp:diary_detail' object.pk %}" class="btn btn-secondary ml-2 mt-5">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
{% endblock contents %}